{% extends "base.html" %}
{% load shmir_tags %}
{% block content %}
<h2 class="ui header">
    {% if object.datetime_finish %}
    <i class="large ok sign icon"></i>
    {% else %}
    <i class="large circle icon"></i>
    {% endif %}
    <div class="content">
        {{ object.process_id }}
        {% if object.user %}
        <div class="sub header">Started by {{ object.user }}</div>
        {% endif %}
    </div>
</h2>
  <div class="column">
    <h2>Input</h2>
    <table class="ui celled table segment">
      <tbody>
        {% if object.sirna %}
        <tr>
          <td>
            siRNA
          </td>
          <td>
            <div style="width:600px;overflow:auto;word-wrap:break-word;">
              {{ object.sirna }}
            </div>
          </td>
        </tr>
        {% endif %}
        {% if object.transcript %}
        <tr>
          <td>
            Transcript
          </td>
          <td>
            {{ object.transcript }}
          </td>
        </tr>
        {% endif %}
        {% if object.min_gc %}
        <tr>
          <td>
            Miniumum 'GC' content
          </td>
          <td>
            {{ object.min_gc }}%
          </td>
        </tr>
        {% endif %}
        {% if object.max_gc %}
        <tr>
          <td>
            Maximum 'GC' content
          </td>
          <td>
            {{ object.max_gc }}%
          </td>
        </tr>
        {% endif %}
        {% if object.max_offtarget %}
        <tr>
          <td>
            Maximum of off-target transcripts
          </td>
          <td>
            {{ object.max_offtarget }}
          </td>
        </tr>
        {% endif %}
        {% if object.stymulators %}
        <tr>
          <td>
            Stimulatory sequences
          </td>
          <td>
            {{ object.stymulators }}
          </td>
        </tr>
        {% endif %}
        {% if object.mirna_name %}
        <tr>
          <td>
            miRNA scaffold
          </td>
          <td>
            {{ object.mirna_name }}
          </td>
        </tr>
        {% endif %}
        <tr>
          <td>
            Started
          </td>
          <td>
            {{ object.datetime_start }}
          </td>
        </tr>
        <tr>
          <td>
            Finished
          </td>
          <td>
            {% if object.datetime_finish %}{{ object.datetime_finish }}{% else %}in progress...{% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column" style="margin-top:15px">
    <h2>Results</h2>
    <div class="content">
    {% if object.results %}
    {% for result in object.results.data.result %}
    <table class="ui celled table segment">
      <tbody>
        <tr>
          <td>
            score
          </td>
          <td>
            {{ result.score }}
          </td>
        </tr>
        <tr>
          <td>
            backbone
          </td>
          <td>
            {{ result.backbone }}
          </td>
        </tr>
        <tr>
          <td>
            pdf
          </td>
          <td>
            <a href="{% get_pdf_url result.pdf %}">download link <i class="icon external url"></i></a>
          </td>
        </tr>
        <tr>
          <td>
            sequence
          </td>
          <td>
            {{ result.sequence }}
          </td>
        </tr>
        <tr>
          <td>
            sh-mir
          </td>
          <td>
            <div style="width:600px;overflow:auto;word-wrap:break-word;">
              {{ result.sh_mir }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
    {% else %}
    <div class="ui message">
      <div class="header">
        The task is in progress.
      </div>
      <p>
        wait...
      </p>
    </div>
    {% endif %}
    </div>
  </div>
{% endblock %}