{% load widget_tweaks %}
        <div class="ui form">
            <form action="{% url 'designer:create' %}" method="POST">
                {% csrf_token %}
                <div class="field popups{% if form.transcript.errors %} error{% endif %}">
                    <label for={{ form.transcript.auto_id }}>{{ form.transcript.label }}</label>
                    {% render_field form.transcript data-variation="inverted" data-content=form.transcript.help_text %}
                    {% if form.transcript.errors %}
                    <div class="ui red pointing above ui label">{{ form.transcript.errors }}</div>
                    {% endif %}
                </div>
                <div class="ui two column grid">
                    <div class="column">
                        <div class="field popups{% if form.min_gc.errors %} error{% endif %}">
                            <label for={{ form.min_gc.auto_id }}>{{ form.min_gc.label }}</label>
                            {% render_field form.min_gc data-variation="inverted" data-content=form.min_gc.help_text %}
                            {% if form.min_gc.errors %}
                            <div class="ui red pointing above ui label">{{ form.min_gc.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="column">
                        <div class="field popups{% if form.max_gc.errors %} error{% endif %}">
                            <label for={{ form.max_gc.auto_id }}>{{ form.max_gc.label }}</label>
                            {% render_field form.max_gc data-content=form.max_gc.help_text data-variation="inverted" %}
                            {% if form.min_gc.errors %}
                            <div class="ui red pointing above ui label">{{ form.max_gc.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="field popups{% if form.max_offtarget.errors %} error{% endif %}">
                    <label for={{ form.max_offtarget.auto_id }}>{{ form.max_offtarget.label }}</label>
                    {% render_field form.max_offtarget data-content=form.max_offtarget.help_text data-variation="inverted" readonly=in_progress%}
                    {% if form.max_offtarget.errors %}
                    <div class="ui red pointing above ui label">{{ form.max_offtarget.errors }}</div>
                    {% endif %}
                </div>
                <div class="field{% if form.mirna_name.errors %} error{% endif %}">
                    <label for={{ form.mirna_name.auto_id }}>{{ form.mirna_name.label }}</label>
                    <div class="ui fluid selection dropdown">
                        <input id="{{ form.mirna_name.auto_id }}" type="hidden" name="{{ form.mirna_name.name }}" readonly="{{ in_progress }}" >
                        <div class="default text">choose...</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for mir in mirna_name %}
                                <div class="item" data-value="{{ mir }}">{{ mir }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if form.mirna_name.errors %}
                    <div class="ui red pointing above ui label">{{ form.mirna_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="field{% if form.stymulators.errors %} error{% endif %}">
                    <label for={{ form.stymulators.auto_id }}>{{ form.stymulators.label }}</label>
                    <div class="ui fluid selection dropdown">
                        <input id="{{ form.stymulators.auto_id }}" type="hidden" name="{{ form.stymulators.name }}">
                        <div class="default text">choose...</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for val, key in form.stymulators.field.choices %}
                            <div class="item" data-value="{{ val }}">{{ key }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if form.stymulators.errors %}
                    <div class="ui red pointing above ui label">{{ form.stymulators.errors }}</div>
                    {% endif %}
                </div>
                <input type="submit" value="submit" class="ui button">
            </form>
        </div>