{% extends 'base.html' %}
{% block content %}
<h2 class="ui header">
    <i class="key icon"></i>
    <div class="content">
        Password reset
    </div>
</h2>
{% if validlink %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="ui form">
  <div class="two fields">
    <div class="field{% if form.new_password1.errors %} error{% endif %}">
      <label for="{{ form.new_password1.auto_id }}">{{ form.new_password1.label }}</label>
      <div class="ui left labeled icon input">
        <input id="{{ form.new_password1.auto_id }}" type="password" name="{{ form.new_password1.name }}">
        <i class="lock icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
        {% if form.new_password1.errors %}
          <div class="ui red pointing above ui label">{{ form.new_password1.errors }}</div>
        {% endif %}
      </div>
    </div>
    <div class="field{% if form.new_password2.errors %} error{% endif %}">
      <label for="{{ form.new_password2.auto_id }}">{{ form.new_password2.label }}</label>
      <div class="ui left labeled icon input">
        <input id="{{ form.new_password2.auto_id }}" type="password" name="{{ form.new_password2.name }}">
        <i class="lock icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      {% if form.new_password2.errors %}
        <div class="ui red pointing above ui label">{{ form.new_password2.errors }}</div>
      {% endif %}
      </div>
    </div>
  </div>
  <input type="submit" class="ui button" value="submit">
</div>
</form>
{% else %}
<div class="ui message">
  <div class="header">
    Password reset unsuccessful
  </div>
  <p>
The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
  </p>
</div>
{% endif %}
{% endblock %}