{% extends 'base.html' %}
{% block content %}
<h2 class="ui header">
    <i class="key icon"></i>
    <div class="content">
        Password reset
        <div class="sub header">You will receive an email with further instructions.</div>
    </div>
</h2>
<form method="POST" action="{% url 'accounts:password_reset' %}">
  {% csrf_token %}
  <div class="ui form">
    <div class="field{% if form.username.errors %} error{% endif %}">
      <div class="ui left labeled icon input">
        <input type="email" placeholder="{{ form.email.label }}" name="{{ form.email.name }}">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
        {% if form.email.errors %}
        <div class="ui red pointing above ui label">{{ form.email.errors }}</div>
        {% endif %}
    </div>
      <input type="submit" class="ui button" value="submit">
  </div>
</form>
{% endblock %}